**/__pycache__/*
.pytest_cache/*
log
allure-results
screenshots
output
/test/

run_filter.cmd
# Generated temporary files from dirty-status-filter.pl
git/dirty_files.tmp
git/dirty_ignored_files.tmp
temp_tag_message.txt
tmp_fixes.pl
